@import "../variables";

.griff-actionbar {
  position: fixed;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: $action-bar;
  height: 100%;
  display: flex;
  background: var(--Secondary);
  color: var(--Text50);
  justify-content: center;
  z-index: 2;
}

@media screen and (max-width: 45em) {
    .griff-actionbar {
        position: fixed;
        top: auto;
        height: $action-bar;
        width: 100%;
    }
}
