@import "../variables";

.actionbar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: $action-bar;
  height: 100%;
  display: flex;
  background: var(--Secondary);
  color: var(--Text50);
  z-index: 9001;
  overflow-x: auto;
  overflow-y: hidden;

  .actions {
    margin: 1.15rem 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    li {
      display: inline-flex;
      justify-content: center;
      width: auto;
    }

    .action-active a {
      &:after {
        opacity: 1;
      }
    }

    .action-active {
      a {
        color: var(--Text);
      }
      svg {
        fill: var(--Primary);
      }
    }
    .action {
      svg {
        fill: var(--Text);
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $action-bar;
      margin-bottom: 1rem;
      font-size: 1rem;
      position: relative;
      margin-top: 0.15rem;

      &:after {
        content: "";
        width: 75%;
        height: 0.15rem;
        background: var(--Primary);
        opacity: 0;
        transition: opacity 250ms linear;
        position: absolute;
        bottom: 2px;
      }

      svg {
        width: 1.6rem;
        height: 1.6rem;
      }

      span {
        margin-top: 0.5rem;
      }
      &:hover, &:focus {
        color: var(--Primary);
        outline: solid 1px var(--Primary);
        outline-offset: -2px;
      }
    }
  }
}

@media screen and (max-width: 45em) {
  .action-hide {
    transform: translateY(10rem);
  }
  .actionbar {
    transition: transform 250ms linear;
    transition-delay: 250ms;
    position: fixed;
    top: auto;
    height: $action-bar;
    width: 100%;

    .actions {
      display: flex;
      flex-direction: row;
      margin:0 1rem;
      padding:0;
      width: 100%;

      li {
        display: inline-flex;
        list-style-type: none;
      }

      a {
        justify-content: center;
        width: $action-bar;
        &:after {
          width: 85%;
        }
      }
    }
  }
}
