.author-data {
    display: flex;
}
.author-info {
    font-size: var(--font-size-small);
    display: flex;
    margin-left: auto;
    min-width: 12em;
    justify-content: flex-end;
    margin-left: 2rem;
    a {
        color:var(--PrimaryText);
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left:0.5rem;
        justify-content: center;
        height: 3rem;
    }
    img {
        border: solid 2px var(--Primary);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
    }
    .author-name {
       
    }

    .author-twitter {
        line-height: 0.5rem;
        margin-bottom: 0.5rem;
    }
}