.sponsor {
    font-size: var(--font-size-small);
    div {
        margin-bottom:0.5rem;
    }
    a {
        color: var(--PrimaryText);
    }
}

.author-data {
    display: flex;
    .sponsor {
        flex: 1;
    }
}
figure.author-info {
    font-size: var(--font-size-small);
    display: flex;
    margin-left: auto;
    min-width: 12em;
    justify-content: flex-end;
    flex-direction: row;
    
    a {
        color:var(--PrimaryText);
    }
    figcaption {
        display: flex;
        flex-direction: column;
        margin-left:0.5rem;
        justify-content: center;
        height: 3rem;
        width: auto;
        align-items: flex-start;
    }
    img {
        border: solid 2px var(--Primary);
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        object-fit: cover;
    }
    .author-name {
       
    }

    .author-twitter {
        line-height: 0.5rem;
        margin-bottom: 1rem;
    }
}