@mixin backHeros($class) {
    #{$class} {
        position: relative;
        &:before {
            content:"";
            background-image: linear-gradient(to bottom, var(--Background)0%, transparent 20vw,var(--Background) 60vh)
            , url(/images/ill_back.svg);
            background-size:111%;
            background-position:10% 25%;
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background-attachment: fixed;
        }
    }
    
    @media screen and (max-width: 75em) {
        #{$class} {
            position: relative;
            &:before {
                background-size: 118%;
                background-repeat: no-repeat;
                background-position-x: 60%;
                background-position-y:0%;
                background-image: linear-gradient(to bottom, var(--Background) 5%, transparent 27%,var(--Background) 50vw)
                , url(/images/ill_back.svg);
            }
        }
    }
    
    @media screen and (max-width: 45em) {
        #{$class} {
            position: relative;
            &:before {
                background-size: 118%;
                background-repeat: no-repeat;
                background-position-x: 60%;
                background-position-y:3%;
                background-image: linear-gradient(to bottom, var(--Background) 11%, transparent 18%,var(--Background) 30vh)
                , url(/images/ill_back.svg);
            }
        }
    }
}