@mixin backHeros($class) {
    #{$class} {
        position: relative;
        &:before {
            content: "";
            /* css variables don`t work here in safari :/ */
            background-image: linear-gradient(to bottom,#343434 0,transparent 33%,#343434 84%),url(/images/ill_back.svg);
            background-size:111%;
            background-position:10% 25%;
            background-repeat: no-repeat;
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background-attachment: fixed;
            z-index: 0;
            transform: translateZ(1);
        }
    }
    
    @media screen and (max-width: 75em) {
        #{$class} {
            position: relative;
            &:before {
                background-size: 118%;
                background-repeat: no-repeat;
                background-position-x: 60%;
                background-position-y:0%;
                background-image: linear-gradient(to bottom, #343433 5%, transparent 27%,#343434 50vw)
                , url(/images/ill_back.svg);
            }
        }
    }
    
    @media screen and (max-width: 45em) {
        #{$class} {
            position: relative;
            &:before {
                background-size: 118%;
                background-repeat: no-repeat;
                background-position-x: 60%;
                background-position-y:3%;
                background-image: linear-gradient(to bottom, #343433 11%, transparent 18%,#343433 30vh)
                , url(/images/ill_back.svg);
            }
        }
    }
}