@import "../variables";

.collapse {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.sticky-title {

  --header-height: 4rem; 
  position: sticky;
  top: $header;

  background: var(--Background);
  .scroll-header {
    z-index: 0;
    display: inline-flex;
    position: absolute;
    opacity: 0;
    font-size: 1.5rem;
    width: 100%;
    padding-top:1.6rem;
    padding-bottom: 1rem;
    background: var(--Background);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    span {
        transition: transform .3s ease-in-out;
        transform:  translateY(2rem);
        z-index: -1;
        position: relative;
    }
  }
  h3 {
    font-size: 1rem;
    background: var(--Background);
  }
}

.hero h1 {
  transform: translate(0);
  transition: transform 0.3s ease-in-out;
}

.main-content[observable="hidden"] {
  .sticky-title {
    transition-delay: 0ms;
    transform: translateY(0);
    margin-top: 4px;
    z-index: 1;
    .scroll-header {
        opacity: 1;
        z-index: -1;
       span {
        transform: translateY(0);
       }
    }
    h3 {
      width: 100%;
      z-index: 5;
      background: var(--Background);
      margin-bottom:0;
      transform: translateY(2px);
      &:after {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin-top: 0.5rem;
      }
    }
  }

  

  .hero h1 {
    transform: translateY(4rem);
    opacity: 0;
  }
}

@media screen and (max-width: 37em) {
    .sticky-title {
        .scroll-header {
            font-size: min(5vw, 8vh);
        }
    }
}
