h3 {
  display: inline-block;
  overflow: hidden;
  min-width: 11rem;
  &:after {
    content: "";
    display: block;
    width:11rem;
    height: 0.2rem;
    margin-top: 0.2rem;
    margin-bottom: 2rem;
    background: var(--Primary);
    transition: width 0.4s ease-in-out !important;
  }
}
