@import "../colors";

.hero-wrap {
    background-color: var(--Background);
    width: 100%;
    padding: 0 5rem;
}
.hero {
    --HeroBorders: #{$dark-secondary};
    --HeroBackground: var(--Background50);
    --HeroBricks: var(--Background);
    --HeroShirt: var(--Primary);
    --HeroShirt50: var(--Primary50);
    --HeroAccents: var(--Text);
    --HeroWhite: #{$dark-text};
    --HeroTriangle: var(--Highlight);
    
    display: flex;
    max-width:80vh;
    height: auto;
    position: relative;
    align-items: center;
    margin-bottom: 2rem;
    svg {
        min-width: 65%;
        height: 120%;
    }

    h1 {
        width: auto;
        display: inline-block;
        flex:1;
        font-size: min(4vw, 7vh);
        line-height: 4.5vw;
        height: 100%;
    }
}

 /* todo figure out re-using */
 @media screen and (max-width: 80em) {
    .hero {
        svg {
            width: 100%;
            min-width: 50%;
        }
    }
 }

 /* todo figure out re-using */
 @media screen and (max-width: 45em) {
    .hero {
      flex-wrap: wrap;
      justify-content: center;
      margin-top:0;
      width: 100%;
      svg {
          order: 1;
          width: 100%;
          height: auto;
          grid-row: auto;
          min-width: 50%;
      }
  
    }
  
  }

  /* todo figure out re-using */
@media screen and (max-width: 45em) {

    .header-wrap {
        flex:1;
    }
    .hero-wrap {
        padding: 0 2rem;
    }

    .hero {
        flex-wrap: nowrap;
        margin-bottom: 1rem;

        svg {
            flex:3;
        }

        h1 {
            font-size: min(5vw, 8vh);
            line-height: 6.5vw;
        }
    }
  }