@import "../colors";
@import "../variables";

.hero-wrap {
  padding: 0 var(--site-padding);
}
.hero {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 2rem;
  .header-wrap {
    margin-top:1rem;
  }
  svg {
    min-width: 65%;
    height: 120%;
  }
}

/* todo figure out re-using */
@media screen and (max-width: 80em) {
  body {
    --site-padding:  #{$mid-padding};
  }
  .hero {
    svg {
      width: 100%;
      min-width: 50%;
    }
  }
}

/* todo figure out re-using */
@media screen and (max-width: 45em) {
  .hero {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    .header-wrap {
      margin-top:0.5rem;
      margin-left:0.5rem;
    }
    svg {
      order: 1;
      width: 100%;
      height: auto;
      grid-row: auto;
      min-width: 50%;
    }
  }
}

/* post heros */
.post-hero {
  width: 100%;
  .img-wrapper {
    position: relative;
    margin: 0;
    width: 100%;
    padding-top: 22.5%;
  }
  img, .hero-img, svg {
    -o-object-fit: cover;
    object-fit: cover;
    max-width: $max-post-width;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
}


@media screen and (min-width: 3000px) {
  .post-hero {
    img, .hero-img, svg {
      width: $max-post-large;
    }
  }
}

@media screen and (max-width: 90em) {
  body {
    --site-padding:  #{$mid-padding};
  }
  .post-hero {
  
    .img-wrapper {
      padding-top:48vh;
    }
  }
}

@media screen and (max-width: 75em) {
  body {
    --site-padding:  #{$mid-padding};
  }
  .post-hero {
  
    .img-wrapper {
      padding-top:42%;
    }
  }
}

/* todo figure out re-using */
@media screen and (max-width: 45em) {
  .post-hero .img-wrapper {
    margin:0;
    width: 100%;
  }
  .header-wrap {
    flex: 1;
  }
  .hero-wrap {
    padding: 0rem 1rem;
  }

  .hero {
    flex-wrap: nowrap;
    margin-bottom: 1rem;

    svg {
      flex: 3;
    }
  }

  .post-hero {
    .img-wrapper {
      padding-top:42%;
    }
    .hero-title {
      margin: 0 2rem;
    }
  }
}
