.logo {
    margin-left: 1rem;
    svg {
        height: 3rem;
        width: auto;
        max-width: 100%;
    }
}

.micro-hero {
    display: inline-flex;
    max-height: 100%;
    max-width: 45px;
    margin-left: 0.5rem;
    svg {
        height: 100%;
        width: 100%;
    }
}