$card-padding: 1.5rem;
.post-tiles {
    display: flex;
    flex-direction: column;
    padding: 0 5rem;
    .tiles {
        display: grid;
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        grid-gap: 1rem;
    }

}

/* todo figure out re-using */
@media screen and (max-width: 45em) {
    .post-tiles {
      padding: 0 2rem;
    }

}