.post-meta {
    position: relative;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    :last-child {
      margin-left: auto;
    }
    .post-meta-detail {
      font-weight: normal;
      font-style: italic;
    }
  }

.first-post-series {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom:1rem;
  span {
    font-weight: 800;
  }
}

.post-series-link {
  &:hover, &:focus {
    color: var(--PrimaryText);
  }
}