.post-meta {
    position: relative;
    padding-top: 1rem;
    font-weight: 600;
    font-size: 0.95rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    :last-child {
      margin-left: auto;
    }
    .post-meta-detail {
      font-weight: normal;
      font-style: italic;
    }
  }

.first-post-series {
  flex: 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-bottom:1rem;
  span {
    font-weight: 800;
  }
}

.post-series-link, .post-series-nav a {
  &:hover, &:focus {
    color: var(--PrimaryText);
  }
}

.series-num-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 0rem;
  padding-top:calc(0.3 * var(--font-size-small));
  margin-bottom: 0;
  position: relative;
  &:before {
    content:"PART";
    position: absolute;
    top:calc(var(--font-size-small) * .25);
    width: 100%;
    text-align: center;
    font-size:  calc(0.6 * var(--font-size-small));
    font-style: italic;
  }
  &:after {
    content: "";
    margin-top:calc(3 * var(--font-size-small));
    height:0.08rem;
    width: 75%;
    background:var(--Text);
    position: absolute;
  }
}

.series-current {
  font-weight: bold;
  font-size: calc(3.3 * var(--font-size-small));
  line-height: unset;
}
.series-total {
  font-size:  calc(0.6 * var(--font-size-small));
  font-style: italic;
  padding: 0;
}

.series-info {
  position: absolute;
  top:-2px;
  right:0;
  z-index: 1;
  width:calc(var(--font-size-small) * 4);
  background: var(--Text);
  padding:0 0.1rem 0.1rem 0.1rem;
  clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  .series-bg {
    padding:0.25rem 0.25rem 2rem 0.25rem;
    clip-path: polygon(50% 0%, 100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
    background:var(--Background);
  }

}

@media screen and (min-width: 3000px) {
.series-num-wrap {
  padding-top:3rem;
}
  .series-num-wrap:after {
    margin-top: 1rem;
  }
}
