$card-padding: 1rem;

.post-tiles {
  display: flex;
  flex-direction: column;
  .tiles {
    margin-top:1.5rem;
    display: grid;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 30fr));
    grid-gap: 1.5rem;
  }
}

/* todo figure out re-using */
@media screen and (max-width: 45em) {
  .post-tiles {
    .tiles {
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
  }
}
