@import 'variables';
$title-height: 4rem;
$date-height: 3.2rem;

live-demo {
    height: 30rem;
    display: flex;
    flex-direction: column;
    flex:1;
    border-radius: 0.2rem;
    overflow: auto;
    background: var(--Secondary);
    margin-bottom: 1rem;
    div[contenteditable] {
        margin:0.5rem;
        height: 100%;
        width: 100%;
        &:focus{
            outline: none;
        }
    }
    pre {
        &:focus{
            outline: none;
        }
    }
    pre[class*=language-] {
        overflow: initial;
    }
    /* potential editing  */
    /*pre {
        padding: .2em .5em !important;
        margin: 0 !important;
        overflow: auto;
        border-radius: 0 !important;
    } */

    /* to prevent  layout  shift add some padding for the demo button*/
}

/* for fragment scrolling */
html,body {
    scroll-padding-top:$header + $date-height + $title-height;
}

.content {
    display: flex;
    flex-direction: column;
    background: var(--Background);

}
.post {
    margin: 0 auto;
    h2 {
        top: $header + $date-height;
    }
    > section {
        z-index: 1;
    }
    .post-title {
        margin: 2rem 0;
        background: var(--Background);
        h1 {
            position: relative;
            display: inline-flex;
        }
    }

    p {
        margin-bottom: 1rem;
    }

    h3, h4 {
        margin:0.5rem 0;
    }
    .post-meta-sticky {
        font-size: 0.95rem;
        position: sticky;
        top: $header;
        width: 100%;
        background: var(--Background);
        z-index: 12;
        height: $date-height;
        display: flex;
        align-items: center;
    }
    .post-content {
        background: var(--Background);
        z-index: 10;

        a {
            color: var(--PrimaryText);
        }

        figure {
            margin:0.5rem 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            img {
                box-shadow: 0 1px 9px 0 rgba(0,0,0,.4);
                position: relative;
            }
            figcaption {
                font-size: 0.95rem;
                margin-top:0.5rem;
                text-align:center;
                width:100%;
            }
            .img-wrap {
                display: flex;
                align-items: center;
                flex-direction: column;
                position: relative;
                border-radius:0.15rem;
                padding:1rem;
                background: var(--Secondary);
                img {
                    object-fit: cover;
                    max-height: 44vh;
                    object-position: 0 32%;
                }
            }
        }
    }
}

.main-content[observable="hidden"] {
    .post-title {
       h1 {
        &:after {
            content: "...";
            position: absolute;
            right:1rem;
            top:0;
        }
       }
    }
}

blockquote {
    p {
        margin:0 !important;
    }
    font-size: 0.95rem;
    font-style: italic;
    padding:0.75rem;
    margin:1rem 0.5rem;
    border-radius: 0.25rem;
    position: relative;
    &:before {
        content: "";
        height: 100%;
        width:0.2rem;
        background: var(--Primary);
        position: absolute;
        top:0;
        left:-0.5rem;
    }
}

.post-before {
    position: relative;
}

@include backHeros(".post-hero");
