.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

main {
  flex: 10;
  display: flex;
  flex-direction: column;
  margin: 0rem 5rem;
  .main-content {
    flex: 1;
    display: flex;
  }
}

/* todo figure out re-using */
@media screen and (max-width: 37em) {
  .page-layout {
    flex-direction: column-reverse;
  }

  main {
    margin: 0rem 2rem;
  }
}
