@import "variables";

body {
  --site-padding: #{$desktop-padding};
}
.wrapper {
  display: flex;
  height: 100%;
  flex: 1;
}

main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main.with-nav {
  margin-left: $action-bar;
}

.header-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  height: $header;
  z-index: 50;
  background: var(--Background);
}

.site-header {
  height: 100%;
  margin: 0 auto;
  width: 100%;
  padding: 0 var(--site-padding);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  h1 {
    flex: 1;
    display: inline-flex;
    align-items: center;
  }
}
.content,
footer {
  width: min(100% - 2rem, #{$max-post-width});
}

.sticky-footer {
  position: sticky;
  top: $header / 2;
  background: var(--Background50);
  z-index: 2;
  padding-bottom: 1rem;
}

.footer-wrap {
  background: var(--Background50);
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.content {
  padding: 0;
  margin: 0;
  .content-wrap {
    background: var(--Background);
    padding: 2rem var(--site-padding);
    z-index: 1;
  }
  > section {
    padding-left: 1px;
  }
}

$icon-size: 10rem;
$tagline-height: 3rem;
.hero-scroll-down {
  justify-content: center;
  align-items: center;
  height: $icon-size;
  width: 100%;
  position: relative;
  z-index: 1;
  animation: wiggle 0.7s forwards;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out !important;
  opacity: 0;

  &:hover,
  &:focus {
    opacity: 1 !important;
  }
  a {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover,
    &:focus {
      transform: translateY(5px);
    }
  }

  svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--Text);
  }
}

@media screen and (max-width: 45em) {
  .hero-scroll-down {
    margin-top: -$action-bar;
  }
  main.with-nav {
    margin-left: 0;
  }
}

.site-tag {
  height: $tagline-height;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  padding: 4rem var(--site-padding) 4rem var(--site-padding);
  justify-content: center;
  align-items: center;
  text-align: center;
  > * {
    opacity: 0;
    transform: translateY(6rem);
    transition: transform 0.45s ease-in, opacity 0.6s ease-in-out;
  }
  .first-there {
    font-size: 3rem;
    font-weight: bold;
  }
  .second-there {
    margin-top: 0.75rem;
    transition-delay: 0s;
  }
}

.site-tag {
  margin-top: 0rem;
}

@media screen and (min-width: 28em) {
  .site-tag {
    margin-top: 8rem;
  }
}

@media screen and (min-width: 60em) {
  .site-tag {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 70em) {
  .site-tag {
    margin-top: 0;
  }
}

/** ultra wide screens */
@media screen and (min-width: 180em) and (min-height: 24em) {
  .site-tag {
    margin-top: 10rem;
  }
}

[observable="hidden"] {
  .hero-scroll-down {
    a {
      opacity: 0;
      transform: translateY(3rem);
    }
  }

  .site-tag {
    > * {
      opacity: 1;
      transform: translateY(0rem);
    }
  }

  .second-there {
    transition-delay: 0.8s;
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(-10px);
    opacity: 0.8;
  }
}

.hero-wrap {
  height: calc(100vh - (#{$icon-size} + #{$header} + #{$tagline-height}));
}

@media screen and (min-width: 80em) {
  .content {
    .content-wrap {
      padding: var(--site-padding);
    }
  }
}

/* todo figure out re-using */
@media screen and (max-width: 45em) {
  .hero-wrap {
    height: calc(
      100vh - (#{$icon-size} + #{$tagline-height} + #{$header} + #{$action-bar})
    );
  }
  .site-header {
    justify-content: space-between;
  }
  body {
    margin-bottom: $action-bar + 1rem;
  }
  .content-wrap {
    --site-padding: 1rem;
  }
  .site-header {
    padding: 1rem;
  }

  main {
    margin: 0;
    flex: 1 !important;
  }

  .footer-wrap,
  .sticky-footer {
    background: var(--Background);
  }

  .sticky-footer {
    position: initial;
    top: initial;
    padding-bottom: initial;
  }
  footer {
    .sharing {
      position: sticky;
      top: $header;
      padding-bottom: 1rem;
      background: var(--Background);
      z-index: 2;
      .social-share {
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 3000px) {
  .site-tag {
    .first-there {
      font-size: 6rem;
      margin-bottom: 3rem;
    }
    .second-there {
      font-size: 4rem;
    }
  }
  .hero-wrap {
    height: calc(
      100vh - (#{$icon-size} + #{$header} + #{$tagline-height} + 3rem)
    );
  }
}

.direct-link {
  display: inline-block;
  .copy-link {
    background-color: var(--Text);
    mask: url(/images/link.svg) no-repeat center / contain;
    -webkit-mask: url(/images/link.svg) no-repeat center / contain;
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    margin-left: 0.3rem;
  }
}
