@import 'variables';

.wrapper {
  display: flex;
  height: 100%;
  flex: 1;
}

main {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: $action-bar;
  margin-left: $action-bar;
}

.site-header {
  z-index: 50;
  padding:1rem 5rem;
  background: var(--Background);
  height: $header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top:0;
  h1 {
    flex: 1;
    display: inline-flex;
    align-items: center;
  }
}

/* todo figure out re-using */
@media screen and (max-width: 37em) {
  main {
    padding-bottom: $header;

  }
  .site-header {
    padding: 0 2rem;
  }
  .page-layout {
    flex-direction: column-reverse;
  }

  main {
    margin:0;
    flex: 1 !important;
  }
}