.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}


.sticky-title {
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out;
  transition-delay: 0ms;
  font-size:2rem;
  opacity: 1;
  margin-left: 1rem;
  transform: translate(0);
}
.sticky-hidden {
  opacity: 0;
  transform: translate(-3rem, 3rem);
}