{% extends "layouts/base.njk" %}

{% set pageCriticalStyles = ['css/index.css'] %}

{% block content %}
{% set seriesList = collections.series %}
{% include "partials/series-list.html" %}
{% endblock %}