{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/demos.css'] %}
{% set nav = false %}
{% set codeHero %}
<copy-to-clipboard>
    <pre class="language-bash"><code class="language-bash"><span class="token function">npm</span> <span class="token function">install</span> copy-component</code></pre>
</copy-to-clipboard>
{% endset %}
{% block content %}
    <div class="card-wrapper">
        <h1>Add a copy button to any HTML</h1>
        {% include "partials/demo-card.html" %}
    </div>
    <div class="post-wrap">
        <div class="post content">
            <article id="#article-content">
                <section class="post-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
    </div>
{% endblock content %}