{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['css/demos.css'] %}
{% set nav = false %}
{% set codeHero %}
<copy-component oncopy="this.querySelector('[slot=button]').textContent='Copied'" style="display: block;">
    <pre class="language-bash"><code class="language-bash"><span class="token function">npm</span> <span class="token function">install</span> copy-component</code></pre>
    <button style="text-transform: uppercase" slot="button">Copy text</button>
</copy-component>` {% endset %}
{% block content %}
    <div class="card-wrapper">
        <h1>Add a copy button to any HTML</h1>
        {% include "partials/demo-card.html" %}
    </div>
    <div class="post-wrap">
        <div class="post content">
            <article id="#article-content">
                <section class="post-content">
                    {{ content | safe }}
                </section>
            </article>
        </div>
    </div>
{% endblock content %}