{% extends "layouts/base.njk" %}

{% set pageCriticalStyles = ['css/about.css'] %}

{% block content %}
<div slot="observable">
{% include "partials/post-hero.html" %}
</div>

<div class="post-title">
    <h1 class="text-in thirdin">{{ title }}</h1>
</div>
<div class="post-wrap">
    <article class="post content">
        <section class="post-content">
            {{ content | safe }}
        </section>
    </article>
</div>
{% endblock %}

{% block footer %}
    {% include 'partials/something-wrong.html' %}
{% endblock %}

