{% extends "layouts/base.njk" %}

{% set pageCriticalStyles = ['css/about.css'] %}

{% block content %}
{% include "partials/post-hero.html" %}
<div slot="before">
</div>

<article class="post content">
    <div slot="observable" class="post-title">
        <h1 class="text-in thirdin">{{ title }}</h1>
    </div>w
    <section class="post-content">
        {{ content | safe }}
    </section>
</article>
{% endblock %}