{% set pageCriticalStyles = ['css/index.css'] %}

{% extends "layouts/base.njk" %}

{% block content %}
   <div slot="observable" class="collapse">
      {% include  "partials/hero.html"%}
   </div>
   {% include  "partials/tiles.html"%}
{% endblock %}