{% set pageCriticalStyles = ['css/index.css'] %}
{% set postslist = collections.posts  | head(-15) | reverse %}
{% set enableAds = true %}
{% extends "layouts/base.njk" %}
{% block content %}
   <div slot="observable" class="collapse">
      {% include  "partials/hero.html"%}
   </div>
   <span id="tagline" class="site-tag">
      <span class="first-there">Hi,</span>
      <span class="second-there">check out my recent posts, I mainly focus on the web.</span>
   </span>
   <div class="hero-scroll-down seventhin">
      <a aria-label="Skip to recent articles" href="#tagline">
         <span>Recent activity</span>
         {% include 'img/chevron_down.svg' %}
      </a>
   </div>
   {%- set firstCard = {
   "title": "Some of my ramblings",
   "link": {
      "href": "/me/",
      "text": "Check out my projects over here."
   }
   }
   -%}
   {% include  "partials/posts.html"%}
{% endblock %}
{% block footer %}
   {% include 'partials/something-wrong.html' %}
{% endblock %}