{% set pageCriticalStyles = ['css/index.css'] %}

{% extends "layouts/base.njk" %}

{% block content %}
   <div class="collapse-container">
      <div class="collapse">
         {% include  "partials/hero.html"%}
      </div>
      {% include  "partials/tiles.html"%}
   </div>
  {% endblock %}
