{% extends "layouts/base.njk" %}

{% set pageCriticalStyles = ['css/blog.css'] %}

{% block content %}
{% set seriesInfo = {series:series, seriesEntries: seriesEntries} | getSeriesInfo %}
<div slot="observable">
    {% include "partials/post-hero.html" %}
</div>

<div class="post-title">
    <h1 class="text-in thirdin">{{ title }}</h1>
</div>
<div class="post-wrap">
    <article class="post content">
        {% set postContent = content %}
        {% set date = page.date %}
        <div class="post-meta-sticky">
            {% include 'partials/share-page.html' %}
            {% include "partials/post-meta.html" %}
        </div>
        {% include "partials/post-tags.html" %}
        <blockquote>{{tagline}}</blockquote>
        {% include 'partials/series-nav.html' %}
        <section class="post-content">
            {{ content | safe }}
        </section>
        {% include 'partials/series-nav.html' %}
        <footer>
            {% include 'partials/author-data.html' %}
            {% include 'partials/something-wrong.html' %}
            {% include 'partials/recommended-posts.html' %}
        </footer>
    </article>
</div>
{% endblock %}