{% extends "layouts/base.njk" %}

{% block content %}
<div slot="before">
    {% include "partials/post-hero.html" %}
</div>

<article class="post content">
    <div slot="observable" class="post-title">
        <h1>{{ title }}</h1>
    </div>
    {% set tags =  post.tags %}
    {% set date =  post.date %}
    <time class="post-date" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
    {% include "partials/post-tags.html" %}
    <blockquote>{{tagline}}</blockquote>
    <section class="post-content">
        {{ content | safe }}
    </section>
</article>
{% endblock %}