{% extends "layouts/base.njk" %}

{% set pageCriticalStyles = ['css/blog.css'] %}

{% block content %}
<div slot="before">
    {% include "partials/post-hero.html" %}
</div>

<article class="post content">
    <div slot="observable" class="post-title">
        <h1 class="text-in thirdin">{{ title }}</h1>
    </div>
    {% set tags =  post.tags %}
    {% set date =  post.date %}
    {% set postContent = content %}
    {% set date = page.date %}
    <div class="post-meta-sticky">
        {% include "partials/post-meta.html" %}
    </div>
    {% include "partials/post-tags.html" %}
    <blockquote>{{tagline}}</blockquote>
    <section class="post-content">
        {{ content | safe }}
    </section>
</article>
{% endblock %}