{% set pageCriticalStyles = ['css/index.css'] %}

{% extends "layouts/base.njk" %}

{% set postslist = series.posts %}

{% block content %}
   {% if series.description %}
      {% set subtitleDetail = series.description %}
   {% endif %}
   {% include  "partials/posts.html"%}
{% endblock %}