{% set pageCriticalStyles = ['css/index.css'] %}

{% extends "layouts/base.njk" %}

{% set pagination = helpers.getPagination(pagination, paged) %}

{% set postslist = paged.elements %}

{% block content %}
   {% include  "partials/posts.html"%}
{% endblock %}