@mixin light {
    --Background: #{$light-bg};
    --Background50: #{$light-bg-50};
    --Secondary: #{$light-secondary};
    --Primary: #{$light-primary};
    --PrimaryText: #{$light-primary-text};
    --ActionColor: #fff;

    --Primary50: #{$light-primary-50};
    --Text: #{$light-text};
    --Text50: #{$light-text-50};
    --Highlight: #{$light-highlight};

    --HeroBorders: #{$dark-secondary};
    --HeroBordersShadow: #{$dark-secondary-50};
    --HeroWhite: #{$dark-text};
    --HeroShoe: #{$shoe};

    --code-text: var(--Text);
    --code-background: transparent;
    --code-punc: var(--Primary);
    --code-token: var(--PrimaryText);
    --code-boolean: var(--Primary);
    --code-keyword: var(--PrimaryText);
    --code-operator: var(--Primary);
    --code-number: #c616a5;
    --code-attr-name: #1f780b;
    --code-attr-value: #3846c0;
    --code-regex: #644b0e;
}