/* Dark */
$dark-bg: #2E4157;
$dark-bg-50: #3F5671;
$dark-secondary: #233241;
$dark-primary: #8AB5EA;
$dark-primary-50: #7ca3d2;
$dark-text: #F0F0F0;
$dark-text-50: #DCDCDC;
$dark-highlight: #FFF;
/* Light */
$light-bg:#FDFDFD;
$light-bg-50:#F5F5F5;
$light-secondary:#F2F2F2;
$light-primary:#1473E6;
$light-primary-50:#1267CF;
$light-text:#233241;
$light-text-50:#2E4157;
$light-highlight: #CBCBCB;

$white: #f0f0f0;
