.project-card {
  .post-img-link .post-img {
    height: 18rem;
  }
}

.project-tiles {
  display: grid;
  margin-top: 1rem;
  place-items: center;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
}

@media screen and (max-width: 45em) {
  .project-tiles {
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}

@media screen and (min-width: 3000px) {
  .project-tiles {
    grid-template-columns: repeat(auto-fit, minmax(51rem, 0fr));
  }
}

@media screen and (min-width: 180em) and (min-height: 24em) {
  .project-tiles {
    grid-template-columns: repeat(auto-fit, minmax(48rem, 0fr));
  }
}
