@import "./variables";
@import "../../node_modules/prism-themes/themes/prism-nord.css";

.site-header,
.content {
  max-width: $max-post-width;
}

@media screen and (min-width: 3000px) {
  .site-header,
  .content {
    max-width: $max-post-large;
  }
}


.main-content[observable="hidden"] {

  h1 {
    transform: translateY(-4rem);
    opacity: 0;
  }
}