{% set hero = post.data.hero %}

<div class="card-wrapper">
    <a href="{{ post.url }}" class="post-img-link">
        <div role="img" aria-label="{{hero and hero.alt or "Default blog image"}}" class="post-img" style="background-image:url('{{ assets.getHero(post, hero)}}');"></div>
    </a>
    
    <div class="post-content">
        <a href="{{ post.url }}" class="post-title-link">
            <h2 class="post-title">{{ post.data.title }}</h2>
        </a>
        <div class="post-tags">
            {% for tag in post.data.tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="post-tag">#{{ tag | title | replace(' ', '') }}</a>
            {%- endif -%}
        {% endfor %}
        </div>
        <div class="post-bottom">
            <time class="post-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
        </div>
    </div>
</div>