<article slot="before" class="post-hero">
    <div class="img-wrapper">
        <div class="hero-img">
            {% include 'partials/series-banner.html' %}
            {%- if hero.image and hero.show %}
            <img width="1000" height="420" alt="{{hero and hero.alt or "Default blog image"}}"
                src="{{ assets.getPostHero(page, hero)}}"></img>
            {% else %}
            {% include assets.getPostHero(post) %}
            {%- endif %}
        </div>
    </div>
</article>