{% set firstPost = series.posts[0] %}
{% set lastPost = series.posts[series.posts.length - 1] %}
{% set date = lastPost.date %}
<div class="post-card-content">
    <a title="{{series.title}}" href="{{seriesUrl }}" class="post-title-link">
        <div>
            <span class="post-title post-heading">{{ series.title }}</span>
            <p class="tagline">{{series.description}}</p>
        </div>
    </a>
    <div class="first-post-series">
        <span>Part 1:&nbsp;</span>
        <a class="post-series-link" title="{{firstPost.data.title}}" href="{{firstPost.url}}">{{firstPost.data.title}}</a>
    </div>
    <a href="{{seriesUrl }}">
        <div class="post-bottom post-meta">
            <span class="post-meta-detail">{{series.posts.length}} part series</span>
            
            <span>Last updated:&nbsp; {% include './post-date.html' %}</span>
        </div>
    </a>
</div>